<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="LiveChat_LiveChat" translate="label" sortOrder="200">
			<label>LiveChat</label>
		</tab>
		<section id="lc_block_config" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
			<class>separator-top</class>
			<label>Settings</label>
			<tab>LiveChat_LiveChat</tab>
			<resource>LiveChat_LiveChat::mymodule</resource>
			<frontend_model>LiveChat\LiveChat\Block\System\Config\LiveChatForm</frontend_model>
		</section>
	</system>
</config>
